.character-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 15px;
  backdrop-filter: blur(5px);
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 200px; /* 아이템 크기를 고정 */
}

.character-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 40px rgba(31, 38, 135, 0.5);
}

.character-item img {
  width: 180px; /* 고정된 너비 */
  height: 240px; /* 고정된 높이로 비율 유지 */
  border-radius: 10px;
  object-fit: cover; /* 이미지 비율을 유지하며 크기에 맞게 */
  margin-bottom: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.character-placeholder {
  width: 180px;
  height: 240px;
  background: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-radius: 10px;
  margin-bottom: 15px;
  font-size: 24px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.name-input {
  margin-bottom: 10px;
  padding: 8px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  text-align: center;
}

.file-upload-label {
  background: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
  color: #ffffff;
  padding: 12px 20px;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: bold;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.file-upload-label:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.character-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  width: 100%;
  max-width: 1200px;
  margin-top: 40px;
  justify-content: center; /* 중앙 정렬 */
}

@media (max-width: 1024px) {
  .character-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .character-setup-container {
    padding: 20px;
    padding-top: 60px;
  }

  .character-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
 
  .character-item {
    padding: 15px;
  }

  .character-item p {
    font-size: 16px;
  }
  .save-button {
    margin-top: 40px; /* 위 요소들과의 간격을 설정 */
    padding: 12px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  .save-button:hover {
    background-color: #45a049;
  }

  .character-placeholder {
    width: 150px;
    height: 200px;
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .character-grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .character-item {
    padding: 20px;
  }

  .character-placeholder {
    width: 180px;
    height: 240px;
  }
}
