.diary-selection-container {
    padding: 20px;
    background-color: #2E2E3A;
    border-radius: 10px;
    color: #E5E5E5;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .diary-options {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .diary-option {
    background-color: #3A3A4F;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .diary-option.selected {
    background-color: #6C63FF;
  }
  
  .diary-option:hover {
    background-color: #444460;
  }
  
  .diary-actions {
    margin-top: 20px;
    display: flex;
    flex-direction: column; /* 버튼들을 세로로 정렬 */
    width: 100%; 
    gap: 10px; /* 버튼 간의 간격 */
  }
  button {
    background-color: #4B48E0;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }

  
  button:hover {
    background-color: #6C63FF;
  }
  