.start-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1a1a2e;
}

.diary-container {
  position: relative;
  cursor: pointer;
}

.diary-image {
  width: 300px;
  height: 400px;
  transition: all 0.3s ease;
  border-radius: 15px;
}

.diary-image.glowing {
  animation: glow 1.5s infinite alternate; /* 반짝임 효과 */
}

@keyframes glow {
  from {
    box-shadow: 0 0 20px rgba(255, 255, 0, 0.7);
  }
  to {
    box-shadow: 0 0 40px rgba(255, 255, 0, 1);
  }
}

.diary-image.flipping {
  animation: flipPages 2.5s ease forwards;
}

@keyframes flipPages {
  0% {
    transform: rotateY(0deg);
  }
  20% {
    transform: rotateY(-30deg);
  }
  40% {
    transform: rotateY(-60deg);
  }
  60% {
    transform: rotateY(-90deg);
  }
  100% {
    transform: rotateY(-180deg);
  }
}
