.App {
  display: flex;
  height: 100vh;
  transition: all 0.3s ease;
}

.sidebar-visible .content {
  margin-left: 250px; /* 사이드바가 있을 때 메인 콘텐츠에 여백 추가 */
}

.sidebar-hidden .content {
  margin-left: 0;
}

.content {
  flex-grow: 1;
  padding: 20px;
  background-color: #2E2E3A;
  overflow-y: auto;
  min-width: 300px; /* 최소 너비 설정 */
}

/* 반응형 디자인 */
@media (max-width: 768px) {
  .sidebar-visible .content {
    margin-left: 200px;
  }
}
